Flask==2.2.5
gunicorn==23.0.0

# Database
pymongo==4.6.3
Flask-PyMongo==2.3.0
PyMySQL==1.1.1
SQLAlchemy==2.0.19
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9


# Authentication & Security
Flask-Login==0.6.3
bcrypt==4.0.1
Flask-WTF==1.2.1
email-validator==2.1.0
google-auth

# Cloud APIs
google-cloud-storage==2.14.0
google-cloud-secret-manager==2.17.0
google-cloud-translate==3.15.5


# REST APIs
Flask-CORS==6.0.0
requests==2.32.4

# Testing
pytest==7.4.2
pytest-flask==1.2.0
coverage==7.3.1

# Rate Limiting
Flask-Limiter==3.5.0






