{% extends "base.html" %}

{% block content %}
  <h1 class="mb-3">Administrator Menu</h1>
  <p class="text-muted">Select an option below.</p>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ url_for('admin.upload_menu_image_page') }}">
      Upload menu image
    </a>

    <a class="list-group-item list-group-item-action" href="{{ url_for('admin.images_library') }}">
      Image library (assign homepage images)
    </a>

    <a class="list-group-item list-group-item-action" href="{{ url_for('admin.orders_dashboard') }}">
      View customer orders
    </a>
  </div>
{% endblock %}
